body {
	border: 1px solid #418ACD;
	width: 1080px;
	margin: 0 auto;
	margin-top: 5px;
	border-bottom: 0px;
	font-family:"STKaiti",华文楷体,"MicrosoftJhengHei",华文细黑 ;
	background:#8ec2f5; /*url("../images/xixi.jpg")#5EC1F9;#8ec2f5*/
}


#header {
	border: 1px solid #418ACD;
	height: 80px;
	position: relative;
	background: url("../images/headerbackground.png");
}
#header img:HOVER{
	cursor: pointer;
}

/*登录、注册按钮*/
#btn1 {
/* 	border: 1px solid silver; */
	position: absolute;
	right: 100px;
	top: 10px;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.btnL:HOVER,.btnR:HOVER{
	cursor: pointer;
	color: red;
}
/*资源、帖子区*/
#resource, #invitation {
	border: 1px solid #418ACD;
	height: 700px;
	float: left;
}

#resource {
	width: 20%;
}
#resource_text{
	height: 100%;
}
#resource_text:HOVER{
	cursor: pointer;
	background:#418ACD; 
	color: red;
}
#resource_text div{
/* 	border: 1px solid silver; */
	font-size: 50px;
	height: 30%;
	
}

#invitation {
	width: 79.5%;
	position: relative;
	border-left: 0;
	border-right: 0;
}

/*发帖和回到顶部*/
#navigation{
	position:fixed;
	right:	50px;
	bottom:	50px; 
}
#navigation p{
	font-weight: bold;
	width: 47px;
	height:47px;
	font-family: "STFangsong",华文仿宋;
}
#navigation #pmsg{
	margin: 0 auto;
	line-height: 47px;
	background: url("../images/pmsg01.png");
}
#navigation p:HOVER{
	color: #FF6600;
}

#navigation #pmsg:HOVER{
	background: url("../images/pmsg02.png");
}

#navigation #to_top{
	background: url("../images/top01.png");
}
#navigation #to_top:HOVER{
	background: url("../images/top02.png");
}


#foot {
	border-bottom: 1px solid #418ACD;
	border-top: 1px solid #418ACD;
	height: 80px;
	clear: left;
	margin-bottom: 20px;
}

/*帖子类型区*/
.regions{
	margin: 5px 0;
	margin-left: 25px;
}
.regions p {
	display: inline-block;
	font-size: 40px;
	border-bottom: 1px solid #418ACD;
	width: 19.1%;
	margin: 0 auto;
	margin-bottom: 20px;
}


.regions p.current_type{
	border: 1px solid #418ACD;
	border-bottom: 0;
}

.regions p:HOVER{
	cursor: pointer;
	background: #8FC4E9;
    border: #418ACD solid 1px;
    color: #067db5;
}

/*帖子数据区*/

#datalist{
	margin: 0 10px auto;
}

td {
	border-bottom:1px solid #418ACD;
	font-size: 20px;
	height:40px;
	width: 100%;
}

.name{
	width: 22%;
}

.title{
	width: 54%;
}

.title a,.name a{
	text-decoration: none;
}

.time{
	width:30%;
}

/* 正文：分页功能区 */
#pages {
	width: 100%;
	text-align: center;
	height: 28px;
	line-height: 28px;
	margin-top: 5px;
	position: absolute;
	bottom: 10px;
	border: 0;
}

#pages a, #pages a.current_page:hover {
	padding: 1px 3px;
}

#pages a:hover {
	padding: 1px 2px;
}
/* 正文：分页功能区 */
#pages a
{
    color: #000;
    text-decoration: none;
}
#pages a:hover
{
    background: #cddde4;
    border: #97b9c9 solid 1px;
    color: #067db5;
}
#pages a.current_page
{
    font-weight:bold; 
	color: black;
}
a{
	text-decoration: none;
}
